header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu {
    display: flex;
    flex-direction: column;
}

#game {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;

    align-items: center;
}

#gameboard-containers{
    display: grid;
    grid-template-columns: 1fr .1fr 1fr;
    grid-template-rows: 1fr;

    grid-column: 2;
}

#p1-info, #p2-info {
    display: flex;
    flex-direction: column;
}

#p1-info {
    grid-column: 1;

    text-align: center;
}

#p2-info {
    grid-column: 3;
}

#p1-name, #p2-name {
    font-size: 40px;
}

#p1-ships, #p2-ships {
    display: flex;
    flex-direction: column;
}

#p1-gameboard {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-column: 1;
}

#p2-gameboard {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-column: 3;
}

.p1-tile,.p2-tile {
    border: 1px solid black;
    text-align: center;
    min-height: 40px;
    max-width: 40px;
}