header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu {
    display: flex;
    flex-direction: column;
}

#game {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr;

    align-items: center;
}

#announcer {
    grid-row: 1;
    grid-column: 2;

    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

#gameboard-containers{
    display: grid;
    grid-template-columns: 1fr .1fr 1fr;
    grid-template-rows: 1fr;

    grid-column: 2;
    grid-row: 2;
}

#p1-info, #p2-info {
    display: flex;
    flex-direction: column;
}

#p1-info {
    grid-column: 1;
    grid-row: 2;

    text-align: center;
}

#p2-info {
    grid-column: 3;
    grid-row: 2;

    text-align: center;
}

#p1-name, #p2-name {
    font-size: 40px;
}

#p1-ships, #p2-ships {
    display: flex;
    flex-direction: column;
}

.p1-tileinfo {
    font-size: 15px;
}

.info-shipcontainer {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

#p1-gameboard {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr); */
    grid-column: 1;
}

#p2-gameboard {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr); */
    grid-column: 3;
}

#match-option {
    grid-row: 3;
    grid-column: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
}

.options {
    font-size: 30px;
}

.p1-tile,.p2-tile {
    border: 1px solid black;
    text-align: center;
    width:10%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
}

.p2-tileshotinfo {
    background-color: aquamarine;
}

.priming-shot {
    background-color: darkred;
}

#match-moves {
    grid-row: 4;
    grid-column: 2;
    text-align: center;
    align-self: start;

    display: flex;
    flex-wrap: wrap;
}

#history {
    width: 100%;
}

#player-moves, #computer-moves {
    width: 50%;
}